<div class="title-block">
  <h3 class="title">
    Planning page <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section" *ngIf="isLoaded;else loading">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Outcomes</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Total balance: <span class="text-success">{{bill?.value|number:'1.2'}} {{bill?.currency}}</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let category of categories; let i = index">
            <div class="col-xs-6">
              <div class="n-progress">
                <div class="progress-bar {{getCategoryColorClass(category)}}" [ngStyle]="{width: getCategoryPercent(category)}">
                  <span>{{category.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="text-{{getCategoryColorClass(category)}}">{{getCategoryCost(category)|number: '1.2'}}</span>
                from
                <span class="text-primary">{{category.capacity|number: '1.2'}}</span>
                | left <span class="text-{{getCategoryColorClass(category)}}">{{category.capacity - getCategoryCost(category)|number: '1.2'}}</span> {{bill?.currency}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <div class="row text-center">
    <app-loader></app-loader>
  </div>
</ng-template>
